* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: "Prosto one", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.5s;
    scroll-behavior: smooth;
    font-family: "Prosto One", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 1420px;
    margin: 0 auto;
}

.zag {
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 40px;
    color: #000;
}

/* шапка */

header {
    background-color: #000000;
}

.header {
    height: 134px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Russo One", serif;
    font-weight: 400;
    font-style: normal;
}

.header_logo {
    cursor: pointer;
}

.header_nav {
    display: flex;
    gap: 30px;
    text-decoration: none;
}

.header_nav a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.header_nav a:hover {
    transform: scale(1.05);
}

.header_tel_btn {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.header_tel {
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.header_btn {
    width: 182px;
    height: 39px;
    border: 1px solid #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.header_btn:hover {
    background-color: #fff;
    border: 1px solid black;
    color: #000000;
}

/* категории */
.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

.category_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.category_card {
    cursor: pointer;
    width: 700px;
    height: 330px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 24px;
    display: flex;
}

.category_card:hover {
    box-shadow: 3px 3px 25px #a0a0a0;
}

.category_card_text_category {
    width: 330px;
    font-size: 40px;
    color: #627ACA;
    text-align: center;
    margin-top: 82px;
    margin-left: 16px;
}

.category_card_img {
    margin-left: 26px;
}

.category_btn {
    width: 241px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
}

.category_btn:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid white;
}

.catalog_cards_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.catalog_cards_2_search{
    border: 2px solid black;
    width: 490px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 24px;
    border-radius: 15px;
    color: #393939;
    margin-bottom: 50px;
}

.catalog_cards_2_filters{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.catalog_cards_2_filter{
    border: 2px solid black;
    width: 250px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
    font-size: 24px;
    border-radius: 15px;
    margin-bottom: 78px;
}





/* подвал */
footer{
    background-color: #000;
}

.footer_container{
    padding-top: 23px;
    padding-bottom: 37px;
    width: 938px;
    margin: 0 auto;
}

.footer_logo_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_logo_nav img{
    cursor: pointer;
}

.footer_nav{
    display: flex;
    gap: 30px;
}

.footer_nav a{
    font-size: 13px;
    text-decoration: none;
    color: white;
}

.footer_nav a:hover{
    transform: scale(1.05);
}

.footer_nets{
    margin-top: 17px;
    display: flex;
    color: white;
}

.footer_nets span{
    font-size: 10px;
    color: #E7E7E7;
    cursor: pointer;
}

.footer_nets_social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    font-size: 13px;
}

.footer_nets_social img{
    cursor: pointer;
}

.footer_nets_address{
    font-size: 13px;
    margin-left: 180px;
}

.footer_nets_tel{
    font-size: 13px;
    margin-left: 99px;
}

.footer_nets_mail{
    font-size: 13px;
    margin-left: 99px;
}

/*  каталог */

.catalog_card_2{
    width: 450px;
    height: 548px;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.catalog_card_2_name{
    margin-top: 36px;
    margin-bottom: 10px;
}

.catalog_cardss_2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    margin-bottom: 54px;
}

.catalog_cards_2_pagination{
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    margin-bottom: 54px;
}

.catalog_cards_2_pagination_item{
    width: 31px;
    height: 31px;
    background-color: rgba(217, 217, 217, 1);
    color: rgba(128, 128, 128, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.catalog_cards_2_pagination_item span{
    color: black;
}

.catalog_cards_2_pagination img{
    cursor: pointer;
}

.catalog_card_2:hover{
    box-shadow: 3px 3px 25px #a0a0a0;
}

.catalog_cards_2_filters img{
    cursor: pointer;
}

.catalog_cards_2_search{
    cursor: pointer;
}
