* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: "Prosto one", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.5s;
    scroll-behavior: smooth;
    font-family: "Prosto One", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 1420px;
    margin: 0 auto;
}

.zag {
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 40px;
    color: #000;
}

/* шапка */

header {
    background-color: #000000;
}

.header {
    height: 134px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Russo One", serif;
    font-weight: 400;
    font-style: normal;
}

.header_logo {
    cursor: pointer;
}

.header_nav {
    display: flex;
    gap: 30px;
    text-decoration: none;
}

.header_nav a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.header_nav a:hover {
    transform: scale(1.05);
}

.header_tel_btn {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.header_tel {
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.header_btn {
    width: 182px;
    height: 39px;
    border: 1px solid #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.header_btn:hover {
    background-color: #fff;
    border: 1px solid black;
    color: #000000;
}

.personal_account {
    display: flex;
}

.personal_account_zag {
    font-size: 36px;
    margin-top: 100px;
    margin-bottom: 24px;
}

.personal_account_way {
    color: rgba(107, 107, 107, 1);
}

.personal_account_mail {
    margin-top: 36px;
    margin-bottom: 12px;
    font-size: 16px;
}

.personal_account_form {
    display: flex;
    flex-direction: column;
}

.personal_account_form input {
    width: 347px;
    height: 49px;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 6px;
    padding: 19px;
}

.personal_account_form input::placeholder {
    color: rgba(151, 151, 151, 1);
    font-size: 16px;
}

.personal_account_form button {
    background-color: #000;
    width: 347px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
    border: 2px solid black;
    cursor: pointer;
    margin-bottom: 12px;
}

.personal_account_create {
    width: 347px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: rgba(88, 88, 88, 1);
    margin-bottom: 38px;
}

.personal_account_create span {
    color: rgba(48, 151, 248, 1);
}

.personal_account_group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.personal_account_group_1 {
    display: flex;
    align-items: center;
}

.personal_account_group_1_text {
    margin-left: 10px;
}

.personal_account_group_1_text_down {
    font-size: 12px;
    color: rgba(96, 96, 96, 1);
}

.personal_account_group_1_text span {
    color: rgba(48, 151, 248, 1);
}

.personal_account_group_1 img {
    max-height: 36px;
}

.personal_account_basket_zag {
    font-size: 20px;
    margin-top: 37px;
    margin-bottom: 6px;
}

.personal_account_basket_opis {
    color: rgba(53, 53, 53, 1);
    margin-bottom: 35px;
}

.personal_account_favorites p {
    font-size: 20px;
    margin-bottom: 8px;
}

.personal_account_favorites_card {
    display: flex;
    align-items: center;
    margin-bottom: 94px;
}

.personal_account_favorites_card_text {
    color: rgba(53, 53, 53, 1);
    margin-left: 27px;
}

.personal_account_favorites_card_text span {
    color: rgba(48, 151, 248, 1);
}

.personal_account_right {
    margin-left: 175px;
    width: 908px;
}

.personal_account_right_zag {
    font-size: 36px;
    margin-top: 100px;
    margin-bottom: 9px;
}

.personal_account_right_opis {
    font-size: 20px;
    color: rgba(107, 107, 107, 1);
    margin-top: 15px;
}

.personal_account_favorites_card img {
    cursor: pointer;
}

/* подвал */
footer {
    background-color: #000;
}

.footer_container {
    padding-top: 23px;
    padding-bottom: 37px;
    width: 938px;
    margin: 0 auto;
}

.footer_logo_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_logo_nav img {
    cursor: pointer;
}

.footer_nav {
    display: flex;
    gap: 30px;
}

.footer_nav a {
    font-size: 13px;
    text-decoration: none;
    color: white;
}

.footer_nav a:hover {
    transform: scale(1.05);
}

.footer_nets {
    margin-top: 17px;
    display: flex;
    color: white;
}

.footer_nets span {
    font-size: 10px;
    color: #E7E7E7;
    cursor: pointer;
}

.footer_nets_social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    font-size: 13px;
}

.footer_nets_social img {
    cursor: pointer;
}

.footer_nets_address {
    font-size: 13px;
    margin-left: 180px;
}

.footer_nets_tel {
    font-size: 13px;
    margin-left: 99px;
}

.footer_nets_mail {
    font-size: 13px;
    margin-left: 99px;
}

.personal_account_favorites_card_text span{
    cursor: pointer;
}


/* создать аккаунт */
.create_account {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 82px;
    position: relative;
    border-radius: 15px;
    width: 582px;
    height: 612px;
    background-color: #fff;
    box-shadow: 0 0 250px 50px rgba(0, 0, 0, 0.25);
}

.create_account .esc {
    position: absolute;
    top: 30px;
    right: 35px;
}

.create_account_zag {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
}

.create_account_welcome {
    font-size: 14px;
    color: rgba(151, 151, 151, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 43px;
}

.create_account_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
}

.create_account_form input {
    padding: 20px;
    border-radius: 5px;
    width: 347px;
    height: 49px;
    border: 2px solid rgba(151, 151, 151, 1);
}

.create_account_form input::placeholder{
    font-size: 16px;
    color: rgba(151, 151, 151, 1);
}

.create_account_ads {
    margin: 13px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    font-size: 10px;
    color: rgba(68, 68, 68, 1);
}

.create_account_btn button{
    border-radius: 5px;
    width: 347px;
    height: 49px;
    background-color: #000;
    color: #fff;
    border: 2px solid black;
    cursor: pointer;
}

.create_account_login{
    margin-top: 17px;
    font-size: 12px;
    color: rgba(88, 88, 88, 1);
}

.create_account_login span{
    color: rgba(48, 151, 248, 1);
}

/* modal window */
.pop_up{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.425);
    z-index: 2;
    backdrop-filter: blur(3px);
}

.pop_up_container{
    width: 100%;
    height: 100%;
}

.pop_up_body{
    top: 10%;
    width: 582px;
    height: 652px;
    margin: auto;
    position: relative;
}

.pop_up_close{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.pop_up.active{
    display: block;
}

/* modal window */
.pop_up2{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.425);
    z-index: 2;
    backdrop-filter: blur(3px);
}

.pop_up_container2{
    width: 100%;
    height: 100%;
}

.pop_up_body2{
    top: 10%;
    width: 582px;
    height: 652px;
    margin: auto;
    position: relative;
}

.pop_up_close2{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.pop_up2.active{
    display: block;
}